<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert.css" rel="stylesheet"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
<div style="width: 100%; height: 100%; position: fixed; left: 0; top: 0; overflow: auto;" id="backSc"/>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <div class=" text-center">
                <p>&copy; All RIGHTS RESERVED</p>
                <p>&reg; 2016 - datrax</p>
            </div>
        </div>
  

</body>
</html>
