@model UserStore.Models.UserModel

@{
    ViewBag.Title = "User Page";
}
<link href="~/Content/UserPageStyle.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="Home/ViewImage/@Model.Id" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.Name @Model.Surname</h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>
</div> <!-- /container -->

<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />

<script type="text/javascript">
    $(function() {
        $('.modal1').click(function() {
            $('<div/>').appendTo('body').dialog({ 
                width: 500,
                maxWidth: 500,
                resizable:false,
                close: function(event, ui) {
                    dialog.remove();
                },
                modal: true
            }).load(this.href, {});

            return false;
        });
    });
</script>
@Html.ActionLink("show modal", "EditModel" ,null, new { @class = "modal1" })

