@model UserStore.Models.UserModel

@{
    ViewBag.Title = "User Page";
}
<link href="~/Content/UserPageStyle.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>@Model.Name @Model.Surname</h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>
</div> <!-- /container -->
<h2>@User.Identity.Name</h2>
@ViewBag.Text